// COLORS

$dark-bg-color: #090b0b;
$dark-theme-color: #03a696;
$dark-primary-color: #ffffff;
$dark-secondry-color: #9a9a9a;

$light-bg-color: #ffffff;
$light-theme-color: #18a558;
$light-primary-color: #0a0a0a;
$light-secondry-color: #707070;

