/*--------------------------------------------------------------
22. Forms
--------------------------------------------------------------*/

label {
    color: $dark-primary-color;
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
}

fieldset {
    margin-bottom: 1em;
}

input {

    &[type="text"], &[type="email"], &[type="url"], &[type="password"], &[type="search"], &[type="number"], &[type="tel"], 
    &[type="range"], &[type="date"], &[type="month"], &[type="week"], &[type="time"], &[type="datetime"], &[type="datetime-local"], 
    &[type="color"] {
        color: $dark-secondry-color;
        background-color: #202020;
        border:none;
        display: block;
        padding: 10px 15px;
        width: 100%;
        font-size: 12px;
    }
}

textarea {
    color: $dark-secondry-color;
    background-color: #202020;
    border:none;
    display: block;
    padding: 15px;
    width: 100%;
    resize: none;
    height: 200px;
    font-size: 12px;
}

select {
    color: $dark-secondry-color;
    background-color: #202020;
    border: none;
    padding: 10px 5px;
    max-width: 100%;
}

input {

    &[type="radio"], &[type="checkbox"] {
        margin-right: 0.5em;
    }

    &[type="radio"] + label, &[type="checkbox"] + label {
        font-weight: 400;
    }
}

input[type="button"], input[type="submit"] {
    background-color: transparent;
    border: 1px solid $dark-primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $dark-primary-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 13px 27px;
    text-shadow: none;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;

    &:hover {
        background-color: $dark-primary-color;
        color: $dark-bg-color;
    }
}
